<button (click)="loadMore()">Load More</button>
<!-- <pagination-controls (pageChange)="page = $event"></pagination-controls> -->
<ul>
	<div *ngFor="let message of messages | async | reverse |  paginate: { itemsPerPage: pageSize, currentPage: page } ">
		<li>
			<div *ngIf="message.type == MessageTypeEnum.Text">
				<h3> {{ message.author }} ({{message.date | date:'medium' }}): {{message.text}} </h3>
			</div>
      <div *ngIf="message.type == MessageTypeEnum.Gif">
				<h3> {{ message.author }} ({{message.date | date:'medium' }}): <img [src]=getGifPath(message.text) width=50/> </h3>
			</div>
		</li>
	</div>
</ul>

<div>
	<form (ngSubmit)="addItem()" #messageForm="ngForm">
		<div class="form-group">
			<label for="text"></label>
			<input type="text" class="form-control" id="text"
               required
               [(ngModel)]="newMessage.text" name="text"
               #text="ngModel">
			<div [hidden]="text.valid || text.pristine" class="alert alert-danger">
			</div>
		</div>

		<button type="submit" class="btn btn-success" [disabled]="!messageForm.form.valid">Submit</button>
	</form>
</div>

<app-gif-menu></app-gif-menu>